/.apt_generated/
docroot/WEB-INF/src/ru/ifmo/srv/model/impl/WorkflowDocumentBaseImpl.java
docroot/WEB-INF/sql/indexes.sql
docroot/WEB-INF/sql/indexes.properties
docroot/WEB-INF/sql/tables.sql
docroot/WEB-INF/service/ru/ifmo/srv/service/persistence/WorkflowDocumentUtil.java
docroot/WEB-INF/service/ru/ifmo/srv/service/WorkflowDocumentService.java
docroot/WEB-INF/lib/jstl-api.jar
docroot/WEB-INF/service/ru/ifmo/srv/service/WorkflowDocumentLocalService.java
docroot/WEB-INF/service/ru/ifmo/srv/service/WorkflowDocumentLocalServiceUtil.java
docroot/WEB-INF/service/ru/ifmo/srv/service/WorkflowDocumentLocalServiceWrapper.java
docroot/WEB-INF/service/ru/ifmo/srv/service/WorkflowDocumentServiceClp.java
docroot/WEB-INF/service/ru/ifmo/srv/service/WorkflowDocumentServiceUtil.java
docroot/WEB-INF/service/ru/ifmo/srv/service/WorkflowDocumentServiceWrapper.java
docroot/WEB-INF/service/ru/ifmo/srv/service/messaging/ClpMessageListener.java
docroot/WEB-INF/service/ru/ifmo/srv/service/persistence/WorkflowDocumentActionableDynamicQuery.java
docroot/WEB-INF/service/ru/ifmo/srv/service/persistence/WorkflowDocumentPersistence.java
docroot/WEB-INF/src/ru/ifmo/srv/model/impl/WorkflowDocumentCacheModel.java
docroot/WEB-INF/src/ru/ifmo/srv/model/impl/WorkflowDocumentImpl.java
docroot/WEB-INF/src/ru/ifmo/srv/model/impl/WorkflowDocumentModelImpl.java
docroot/WEB-INF/src/ru/ifmo/srv/service/base/WorkflowDocumentLocalServiceBaseImpl.java
docroot/WEB-INF/src/ru/ifmo/srv/service/base/WorkflowDocumentLocalServiceClpInvoker.java
docroot/WEB-INF/src/ru/ifmo/srv/service/base/WorkflowDocumentServiceBaseImpl.java
docroot/WEB-INF/src/ru/ifmo/srv/service/base/WorkflowDocumentServiceClpInvoker.java
docroot/WEB-INF/src/ru/ifmo/srv/service/http/WorkflowDocumentServiceSoap.java
docroot/WEB-INF/src/ru/ifmo/srv/service/persistence/WorkflowDocumentPersistenceImpl.java
docroot/WEB-INF/src/service.properties
ivy.xml.MD5
docroot/WEB-INF/lib/automation-portlet-service.jar
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.core.runtime.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.launching.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
docroot/WEB-INF/service/ru/ifmo/srv/model/WorkflowDocumentModel.java
docroot/WEB-INF/service/ru/ifmo/srv/model/WorkflowDocumentSoap.java
docroot/WEB-INF/service/ru/ifmo/srv/model/WorkflowDocumentWrapper.java
docroot/WEB-INF/service/ru/ifmo/srv/service/ClpSerializer.java
docroot/WEB-INF/service/ru/ifmo/srv/service/WorkflowDocumentLocalServiceClp.java
docroot/WEB-INF/lib/jstl-impl.jar
docroot/WEB-INF/service/ru/ifmo/srv/NoSuchWorkflowDocumentException.java
docroot/WEB-INF/src/ru/ifmo/srv/service/impl/WorkflowDocumentServiceImpl.java
docroot/WEB-INF/service/ru/ifmo/srv/model/WorkflowDocument.java
docroot/WEB-INF/service/ru/ifmo/srv/model/WorkflowDocumentClp.java
